<div class="mb-3">
  <label for="<%= fieldName %>" class="form-label"><%= label %></label>
  <input class="form-control" type="file" id="<%= fieldName %>" name="<%= fieldName %>"
    <% if(accept) { %> accept="<%= accept %>" <% } %>
    <% if(required) { %> required <% } %>>
  
  <% if(helpText) { %>
    <div class="form-text"><%= helpText %></div>
  <% } %>
  
  <% if(existingFile) { %>
    <div class="mt-2">
      <span class="badge bg-info">
        Fichier actuel : 
        <a href="<%= existingFile.url %>" target="_blank" class="text-white">
          <%= existingFile.name %>
        </a>
      </span>
    </div>
  <% } %>
</div>